[Unit]
Description=Apache Kafka service %i

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10m
Restart=always
RestartSec=5s
Environment="DOCKER_IMAGE=cgswong/kafka:latest"
ExecStartPre=/bin/sh -c "docker inspect %p-%i &>/dev/null && docker rm -f %p-%i || true"
ExecStartPre=/usr/bin/docker pull ${DOCKER_IMAGE}
ExecStart=/usr/bin/bash -c "docker run --name %p-%i -p 9092:9092 -e KAFKA_BROKER_ID=%i -e KAFKA_ADVERTISED_HOST_NAME=%H -e KAFKA_ZOOKEEPER_CONNECT=$(for zkHosts in $(etcdctl ls /services/zk/ensemble); do etcdctl get $zkHosts; done| paste -s -d',') ${DOCKER_IMAGE}"
ExecStop=/usr/bin/docker stop -t 30 %p-%i

[X-Fleet]
Conflicts=%p@*.service
