[Unit]
Description=Apache Kafka service %i

Requires=docker.service
Requires=zookeeper@%i.service
After=docker.service
After=zookeeper@%i.service

[Service]
TimeoutStartSec=10m
Restart=always
RestartSec=5s

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull digitalwonderland/kafka:latest

ExecStart=/usr/bin/bash -c "docker run --name %p-%i --publish 9092:9092 --env KAFKA_BROKER_ID=%i --env KAFKA_ADVERTISED_HOST_NAME=%H --env KAFKA_ZOOKEEPER_CONNECT=$(for zkHosts in $(etcdctl ls /services/zk/ensemble); do etcdctl get $zkHosts; done| paste -s -d',') digitalwonderland/kafka:latest"

ExecStop=-/usr/bin/docker stop %p-%i
ExecStop=-/usr/bin/docker kill %p-%i
ExecStop=-/usr/bin/docker rm %p-%i

[X-Fleet]
Conflicts=%p@*.service
MachineOf=zookeeper@%i.service
